<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Meu Site ExpressJS</title>
    <link rel="stylesheet" href="../../public/css/global.css" />
  </head>
  <nav class="menu">
    <a href="/"></a>
    <img
      src="https://upload.wikimedia.org/wikipedia/commons/thumb/2/24/LEGO_logo.svg/1024px-LEGO_logo.svg.png"
      alt=""
      width="150"
    />
    <ul>
      <a href="/contato">CONTATO</a>
      <a href="/sobre">SOBRE</a>
    </ul>
  </nav>
  <body></body>
</html>
