<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Meu Site ExpressJS</title>
    <style>
      * {
        padding: 0;
        margin: 0;
        box-sizing: border-box;
      }
      body {
        background-color: #ccc;
      }
      .menu {
        background-color: #fff;
        display: flex;
        justify-content: space-around;
        align-items: center;
      }
    </style>
  </head>
  <nav class="menu">
    <img
      width="150"
      src="https://www.google.com/url?sa=i&url=https%3A%2F%2Fpt.m.wikipedia.org%2Fwiki%2FFicheiro%3ALEGO_logo.svg&psig=AOvVaw26cQiJCe1Xnir1FgVmsBnO&ust=1728128429772000&source=images&cd=vfe&opi=89978449&ved=0CBQQjRxqFwoTCJjprZ3S9IgDFQAAAAAdAAAAABAE"
      alt=""
    />
    <ul>
      <a href="/">HOME</a>
      <a href="/sobre">SOBRE</a>
    </ul>
  </nav>
  <body></body>
</html>
